<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Table of Users</title>
</head>
<nav class="navbar bg-dark navbar-dark fixed-top">
    <form class="form-inline">
        <strong><span class="navbar-text text-white" th:text="${user.getUsername()}"}></span></strong>
        <span class="navbar-text text-white">&nbsp with roles: &nbsp</span>
        <span class="navbar-text text-white"><a th:each="role: ${user.getRoles()}" th:text="${role.name}+' '"></a> </span>
    </form>
    <ul class="navbar-nav float-lg-end">
        <li class="nav-item">
            <a class="nav-link text-muted" th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>

<!-- Контейнер под навигационной панелью -->
<div class="container-fluid bg-light">
    <div class="row">
        <!-- Левый блок -->
        <div class="col-sm-2 bg-white min-vh-100">
            <ul class="nav nav-pills flex-column">
                <br />
                <br />
                <br />
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/admin}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user}">User</a>
                </li>
            </ul>
        </div>

        <!--Правый блок -->
        <div class="col-sm-10 bg-light"><br><br><br>

            <!-- Малая навигационная панель -->
            <h2>Admin panel</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#user_table">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#add_user">New User</a>
                </li>
            </ul>

            <!-- Панели навигации -->
            <div class="tab-content">

                <!-- Таблица юзеров -->
                <div class="tab-pane container-fluid active" id="user_table">
                    <div class="row">
                        <div class="col border bg-light">
                            <p><h6>All users</h6>
                        </div>
                        <div class="w-100"></div>
                        <div class="col border bg-white">
                            <br />
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>Lastname</th>
                                    <th>Firstname</th>
                                    <th>Password</th>
                                    <th>Email</th>
                                    <th>Roles</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.getId()}"></td>
                                    <td th:text="${user.getName()}"></td>
                                    <td th:text="${user.getLastName()}"></td>
                                    <td th:text="${user.getFirstName()}"></td>
                                    <td>*******</td>
                                    <td th:text="${user.getEmail()}"></td>
                                    <td><a th:each="role : ${user.getRoles()}" th:text="${role.name} + ' '"></a></td>

                                    <td>
                                        <!-- Кнопка редактирования -->
                                        <button type="button" class="btn btn-info" data-toggle="modal"
                                                th:data-target="${'#edit' + user.getId()}">Edit
                                        </button>

                                        <!-- Модальное окно редактирования юзера -->
                                        <div class="modal" th:id="${'edit' + user.id}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">

                                                    <!-- Заголовок модального окна -->
                                                    <div class="modal-header">
                                                        <h6 class="modal-title">Edit user</h6>
                                                        <button type="button" class="close" data-dismiss="modal">×
                                                        </button>
                                                    </div>

                                                    <!-- Тело модального окна -->
                                                    <div class="modal-body">
                                                        <div class="form-group row justify-content-center align-items-center">
                                                            <form th:action="@{/admin/users/{id}(id=${user.id})}"
                                                                  th:object="${user}" th:method="patch">

                                                                <strong><label for="eId">ID: </label></strong>
                                                                <br />
                                                                <input type="number" class="form-control"
                                                                       th:value="${user.id}" id="eId" name="id" readonly>
                                                                <br />

                                                                <strong><label for="eUsername">Username (Nickname): </label></strong>
                                                                <br />
                                                                <input type="text" class="form-control"

                                                                       th:field="*{name}"


                                                                       id="eUsername" name="username"
                                                                       required minlength="3" maxlength="50">
                                                                <br />
                                                                <strong><label for="eFirstName">Firstname: </label></strong>
                                                                <input type="text" class="form-control"
                                                                       th:field="*{firstName}" id="eFirstName" name="firstname"
                                                                       required minlength="3" maxlength="50">
                                                                <br />
                                                                <strong><label for="eLastName">Lastname: </label></strong>
                                                                <input type="text" class="form-control"
                                                                       th:field="*{lastName}" id="eLastName" name="lastname"
                                                                       required minlength="3" maxlength="50">
                                                                <br />
                                                                <strong><label for="ePassword">Password: </label></strong>
                                                                <br />
                                                                <input type="password" class="form-control"
                                                                       th:value="null" id="ePassword" name="password">
                                                                <br />

                                                                <strong><label for="eEmail">Email: </label></strong>
                                                                <br />
                                                                <input type="text" class="form-control"
                                                                       th:value="${user.getEmail()}" id="eEmail" name="email"
                                                                       required minlength="3" maxlength="50">
                                                                <br />

                                                                <label for="editRoles"></label><select multiple class="form-control w-100"
                                                                                                       id="editRoles" name="index">
                                                                <option
                                                                        th:each="role : ${roles}"
                                                                        th:checked="${user.getRoles().contains(role)}" name="index" th:value="${role.id}"
                                                                        th:text="${role.name}"
                                                                        >

                                                                </option>
                                                            </select>

                                                                <!-- Подвал модального окна -->
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <input type="submit" class="btn btn-info"
                                                                           value="Edit"/>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <!-- Кнопка удаления -->
                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                th:data-target="${'#delete' + user.getId()}">Delete
                                        </button>

                                        <!-- Модальное окно удаления юзера -->
                                        <div class="modal" th:id="${'delete' + user.getId()}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">

                                                    <!-- Заголовок модального окна -->
                                                    <div class="modal-header">
                                                        <h6 class="modal-title">Delete user</h6>
                                                        <button type="button" class="close" data-dismiss="modal">×
                                                        </button>
                                                    </div>

                                                    <!-- Тело модального окна -->
                                                    <div class="modal-body">
                                                        <div class="form-group row justify-content-center align-items-center">
                                                            <form th:action="@{/admin/users/delete/{id}(id=${user.id})}"
                                                                  th:object="${user}"
                                                                  th:method="DELETE"
                                                                  th:id="${'deleteForm'}">

                                                                <strong><label for="dId">ID: </label></strong>
                                                                <br />
                                                                <input type="number" class="form-control"
                                                                       th:value="${user.getId()}" id="dId" name="id" readonly>
                                                                <br />

                                                                <strong><label for="dUsername">Username: </label></strong>
                                                                <br />
                                                                <input type="text" class="form-control"
                                                                       th:value="${user.getUsername()}" id="dUsername" name="username" readonly>
                                                                <br />

                                                                <!-- Подвал модального окна -->
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <input type="submit" class="btn btn-danger"
                                                                           value="delete"/>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Добавление юзера -->
                <div class="tab-pane container-fluid fade" id="add_user">
                    <div class="row">
                        <div class="col border bg-light">
                            <p><h6>Add new user</h6></p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col border bg-white text-center">
                            <br />

                            <form th:method="POST" th:action="@{/admin/users}" th:object="${user}">

                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <strong><label for="nUsername">Nickname: </label></strong>
                                        <br />
                                        <input type="text" class="form-control" th:field="*{name}" id="nUsername"
                                               placeholder="Username" required minlength="3" maxlength="50">
                                    </div>
                                </div>

                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <strong><label for="nFirstname">FirstName: </label></strong>
                                        <br />
                                        <input type="text" class="form-control" th:field="*{firstName}" id="nFirstname"
                                               placeholder="Username" required minlength="3" maxlength="50">
                                    </div>
                                </div>


                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <strong><label for="nLastname">LastName: </label></strong>
                                        <br />
                                        <input type="text" class="form-control" th:field="*{lastName}" id="nLastname"
                                               placeholder="Username" required minlength="3" maxlength="50">
                                    </div>
                                </div>


                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <strong><label for="nPassword">Password: </label></strong>
                                        <br />
                                        <input type="password" class="form-control" th:field="*{password}" id="nPassword"
                                               placeholder="Password" required>
                                    </div>
                                </div>


                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <strong><label for="nEmail">Email: </label></strong>
                                        <br />
                                        <input type="text" class="form-control" th:field="*{email}" id="nEmail"
                                               placeholder="Email" required minlength="3" maxlength="50">
                                    </div>
                                </div>

                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3">
                                        <label for="roles">Select roles: </label>
                                        <select multiple class="form-control w-100" id="roles" name="index">
                                            <option
                                                    th:each="role : ${roles}"
                                                    type="checkbox" th:checked="${user.getRoles().contains(role)}" name="index" th:value="${role.id}"

                                                    th:text="${role.name}">
                                                    <!-- th:value="${role.getId()}" -->
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success">
                                    Add new user
                                </button>
                                <br />
                                <br />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</html>